*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a{
   text-decoration: none;
}

header{
   background-color: green;
   display: grid;
   grid-template-columns: repeat(5,1fr);
   grid-template-rows: 40px;
}

header a {
   color: white;
   display: grid;
   justify-items: center;
   align-items: center;
}

header a:hover, a.active{
   background-color: rgb(0, 95, 0);
}

p{
   display: none;
}

p.active{display: block;}

img{
   display: none;
}
img.active{display: block;}

ul li{
   height: 40px;
   width: 40px;
   border: 2px solid black;
   border-radius: 100%;
}
ul li.active {
  background-color: red;
}
